# Define variables
DB_HOST=your_database_host
DB_PORT=3306
DB_NAME=your_database_name
DB_USER=your_mysql_username
DB_PASSWORD=your_mysql_password
DB_NAMESPACE=T_WC_

USER_TIMEZONE=Europe/Paris

TMDB_API_DOMAIN_URL=https://api.themoviedb.org
TMDB_API_KEY=your_tmdb_api_key
TMDB_API_TOKEN=your_tmdb_jwt_api_token
